appdirs==1.4.4
blas==2.116
blas-devel==3.9.0
brotlipy==0.7.0
ca-certificates==2023.01.10
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
click==8.0.4
cryptography==39.0.1
flask==2.2.2
freetype==2.12.1
giflib==5.2.1
gunicorn==20.1.0
idna==3.4
importlib-metadata==6.0.0
itsdangerous==2.0.1
jinja2==3.1.2
joblib==1.1.1
jpeg==9e
lcms2==2.12
lerc==3.0
libblas==3.9.0
libcblas==3.9.0
libcxx==14.0.6
libdeflate==1.17
libffi==3.4.2
libgfortran==5.0.0
libgfortran5==11.3.0
liblapack==3.9.0
liblapacke==3.9.0
libopenblas==0.3.21
libpng==1.6.39
libtiff==4.5.0
libwebp==1.2.4
libwebp-base==1.2.4
llvm-openmp==14.0.6
lz4-c==1.9.4
markupsafe==2.1.1
ncurses==6.4
numpy==1.23.5
numpy-base==1.23.5
openblas==0.3.21
openssl==1.1.1t
packaging==23.0
pillow==9.4.0
pip==23.0.1
pooch==1.4.0
pycparser==2.21
pyopenssl==23.0.0
pysocks==1.7.1
python==3.9.16
readline==8.2
requests==2.28.1
scikit-learn==1.2.2
scipy==1.10.1
setuptools==65.6.3
sqlite==3.41.1
threadpoolctl==2.2.0
tk==8.6.12
tzdata==2023c
urllib3==1.26.15
werkzeug==2.2.3
wheel==0.38.4
wtforms==2.3.3
xz==5.2.10
zipp==3.11.0
zlib==1.2.13
zstd==1.5.4
